extends layout

block content
    form#InvoiceForm.form-horizontal(action='/bill', method='post')
        .row
            .text-center.col-sm-4
                h4
                    strong Khách hàng
                hr
                div
                    .form-group
                        label.control-label.col-sm-4(for='name') Họ tên:
                        .col-sm-7
                            input#name.form-control(type='text', name='name', placeholder='Customer name here')
                    .form-group
                        label.control-label.col-sm-4(for='phone') Số điện thoại:
                        .col-sm-7
                            // 10 or 11 numbers from 0 -> 9
                            input#phone.form-control(type='tel', pattern='[0-9]{10,11}', name='phone', placeholder='Phone number')
                    .form-group
                        label.control-label.col-sm-4(for='address') Địa chỉ:
                        .col-sm-7
                            input#address.form-control(type='text', name='address', placeholder='Your address')
                    .form-group
                        label.control-label.col-sm-4(for='getmoney') Thu tiền:
                        .col-sm-7
                            select#getmoney.selectpicker(name='getmoney', data-width='auto')
                                option Đã thu
                                option Chưa thu
            .text-center.col-sm-8
                h4
                    strong Đơn hàng
                hr
                div
                    .form-group
                        label.control-label.col-sm-2(for='sam') Sâm:
                        .col-sm-3
                            input#sam.form-control(type='number', name='sam', value=0,
                            onclick='this.setSelectionRange(0, this.value.length)')
                        .col-sm-1
                            select#getmoney.selectpicker(name='Sâm', data-width='auto')
                                option Lớn
                                option Nhỏ
                        label.col-sm-2.control-label(for='bongcuc') Bông cúc:
                        .col-sm-3
                            input#bongcuc.form-control(type='number', name='bongcuc', value=0,
                            onclick='this.setSelectionRange(0, this.value.length)')
                        .col-sm-1
                            select#getmoney.selectpicker(name='Bông cúc', data-width='auto')
                                option Lớn
                                option Nhỏ
                    .form-group
                        label.control-label.col-sm-2(for='rongbien') Rong biển:
                        .col-sm-3
                            input#rongbien.form-control(type='number', name='rongbien', value=0,
                            onclick='this.setSelectionRange(0, this.value.length)')
                        .col-sm-1
                            select#getmoney.selectpicker(name='Rong biển', data-width='auto')
                                option Lớn
                                option Nhỏ
                        label.col-sm-2.control-label(for='nhadam') Nha đam:
                        .col-sm-3
                            input#nhadam.form-control(type='number', name='nhadam', value=0,
                            onclick='this.setSelectionRange(0, this.value.length)')
                        .col-sm-1
                            select#getmoney.selectpicker(name='Nha đam', data-width='auto')
                                option Lớn
                                option Nhỏ
                    .form-group
                        label.control-label.col-sm-2(for='yogurt') Yogurt:
                        .col-sm-3
                            input#yogurt.form-control(type='number', name='yogurt', value=0,
                            onclick='this.setSelectionRange(0, this.value.length)')
                    .form-group
                        label.col-sm-2.control-label(for='invoicedate') Ngày:
                        .col-sm-4
                            input#invoicedate.form-control(type='date', name='invoicedate', required=true)
                        label.col-sm-2.control-label(for='shipaddress') Địa chỉ giao:
                        .col-sm-4
                            input#shipaddress.form-control(type='text', name='shipaddress', placeholder='Shipping address')
        .col-sm-offset-4.col-sm-4
            button.btn.btn-success.btn-block(type='submit') Submit