extends layout

block content
    form.form-horizontal.col-sm-6.col-sm-offset-3
        .row.text-center
            .form-group
                label.control-label.col-sm-4  Chọn ngày report
                .col-sm-5
                    input.form-control(type='date', name='reportDate')
                button.btn.btn-success(type='submit', formaction='/datereport', formmethod='post') Get report
    table#table(data-toggle='table', data-locale='en-US', data-classes='table table-no-bordered table-hover')
        thead
            tr
                th STT
                th Mã đơn hàng
                th Tên khách hàng
                th Tổng cộng
                th Thu tiền
                if allProduct
                    - var i = 1
                    for product in allProduct
                        th='Mặt hàng ' + i++
                else
                    th Đơn hàng
        tbody
            if tableData
                - var i = 1
                for data in tableData
                    tr
                        td=i++
                        td=data.id
                        td=data.Customer.Name
                        td=data.totalCost
                        td
                            a(href='#', data-pk=data.id) #{data.MoneyReceive}
                        for product in data.Product_Features
                            td=(product.Invoice_Product_Feature.Quantity + ' ' + product.Product.Name + ' ' + product.Feature.Type.toLowerCase())

    script.
        $.fn.editable.defaults.mode = 'inline';
        $.fn.editable.defaults.ajaxOptions = {type: "put"};
        $(function () {
            $('#table a').editable({
                type: 'select',
                name: 'MoneyReceive',
                value: 0,
                source: [
                    {value: 0, text: 'Bấm để chọn'},
                    {value: 1, text: 'Đã thu'},
                    {value: 2, text: 'Chưa thu'}
                ],
                url: '/datereport'
            });
        })