extends layout

block content
    form#homeform.input-group.input-group(method='post', action='/')
        span.glyphicon.glyphicon-search.input-group-addon
        input#searchInput.form-control(type='search', placeholder='Anything about customer', name='searchstring')
    hr
    table#table(data-toggle='table', data-locale="en-US",
    data-classes='table table-no-bordered table-hover')
        thead
            tr
                th STT
                th Tên
                th Số điện thoại
                th Địa chỉ
        tbody
            if tableData
                - var i = 1
                for userInfo in tableData
                    tr
                        td=i++
                        td=userInfo.Name
                        td=userInfo.Phone
                        td=userInfo.Address

    script.
        //Whenever user hit Enter, the search form will submit the search string
        $('input').keypress(function (event) {
            if (event.keyCode === 13) {
                $('#homeform').submit()
            }
        })
        //Post row data to specific URL
        $('#table').bootstrapTable({
            onClickRow: function (rowData) {
                $.post('/submit', rowData)
            }
        })